.keepersFooter {
  position: relative;
  margin: -200px auto 0;
  max-width: 1920px;

  img {
    display: block;
    max-width: 100%;
  }
}

.keepersFooterContent {
  max-width: 28%;
  position: absolute;
  top: 30%;
  right: 15%;

  h3 {
    font-weight: 500;
    font-size: 65px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  p {
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
  }
}

.keepersFooterDecor {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1500px) {
  .keepersFooterContent {
    h3 {
      margin-bottom: 10px;
      font-size: 45px;
      line-height: 64px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .keepersFooterContent {
    top: 22%;
  }
}

