@import "../../../assets/scss/breakPoints.scss";

$contacts-title-font-sizes: (
  null: 34px,
  1024px: 54px,
  1280px: 54px,
  1600px: 80px,
  1900px: 80px
);

$contacts-text-font-sizes: (
  null: 18px,
  1024px: 24px,
  1280px: 24px,
  1600px: 30px,
  1900px: 30px
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

.contactsWrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.contactsTitle {
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  color: #171718;
  margin: 0 0 30px;
  @include font-size($contacts-title-font-sizes);
}

.contactsText {
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #171718;
  margin: 0 0 50px;
  @include font-size($contacts-text-font-sizes);
}

.contactsContent {
  z-index: 1;
  max-width: 1250px;
  width: 100%;
  padding: 0 100px 0 60px;
  margin: 25vh 0 0;

  .mailBtn {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #EFE314;
    width: 290px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 65px;
    margin: 50px 0 0;
    background: #333;
    transition: .3s;

    &:hover {
      background: #171718;
    }

    &:active,
    &:focus {
      color: #fff;
      background: #333;
    }
  }
}

.contactsSocial {
  margin: 0 100px 60px 0;
  align-self: flex-end;
  z-index: 1;

  .socialWrapper {
    margin: 0;
  }

  .socialItem {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .socialIcon {
    width: 120px;
    height: 120px;

    span {
      width: 28px;
      height: 28px;
    }
  }
}

.mailBtnMob {
  display: none;
}

@media screen and (max-width: $breakpoint-max-width) {
  .contactsSocial {
    .socialIcon {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .contactsWrapper {
    height: auto;
    padding: 60px 15px 30px;
    background-color: #333;
    background-image: linear-gradient( rgba(255,255,255,.1), transparent 1px), linear-gradient( 90deg, rgba(255,255,255,.1), transparent 1px);
    background-size: 15px 15px;
    background-position: center center;

    &.contactsPage {
      height: 100vh;

      .contactsSocial {
        flex-basis: 150px;
      }

      .contactsContent {
        flex: 0 1 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }
  }

  .gradient-vertical {
    display: none;
  }

  .gradient-horizontal {
    display: none;
  }

  .contactsContent {
    padding: 0;
    margin: 0;

    .mailBtn {
      display: none;
    }
  }

  .contactsTitle {
    font-size: 26px;
    color: #FFF;
    margin: 0 0 10px;
  }

  .contactsText {
    font-size: 14px;
    color: #BDBDBD;
    margin: 0 0 20px;
  }

  .contactsSocial {
    margin: 0 auto;
    align-self: center;
    width: 100%;
  
    .socialItem {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  
    .socialIcon {
      width: 65px;
      height: 65px;
      border-color: #fff;
  
      span {
        width: 20px;
        height: 20px;
      }
    }

    .socialBehance {
      background: url(/images/icons/behance-white.svg) no-repeat center;
    }
    
    .socialFacebook {
      background: url(/images/icons/facebook-white.svg) no-repeat center;
    }
    
    .socialDribbble {
      background: url(/images/icons/dribbble-white.svg) no-repeat center;
    }
    
    .socialLinkedin {
      background: url(/images/icons/linkedin-white.svg) no-repeat center;
    }
  }

  .mailBtnMob {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #EFE314;
    width: 100%;
    height: 65px;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 65px;
    margin: 20px auto 0;
    background: #171718;

    &.servicesBtn {
      background: #EFE314;
      color: #171718;
    }
  }
}
