@import '../../../assets/scss/breakPoints.scss';

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logoWrapper{
  width: 200px;
  height: 53px;
  margin: 0 60px;
}

.bigBlackLogo{
  background: url(/images/logo-black.svg) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.headerLeftPart{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    padding: 20px 0 0 30px
  }

  .logoWrapper {
    margin: 0;
    flex: 0 0 150px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .header{
    padding: 10px 15px;

    &:after {
      content: '';
      display: block;
      background: rgba(23 , 23, 24, .8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }
  }

  .logoWrapper {
    width: 30px;
    height: 40px;
    margin: 0;
    flex: 0 0 auto;
  }

  .bigBlackLogo {
    background: url(/images/logo-mobile.svg) no-repeat center;
  }

  .openedMenuWrapper {
    &:after {
      background: transparent;
    }

    .bigBlackLogo {
      background: url(/images/logo-mobile-black.svg) no-repeat center;
    }
  }
}