@import "../../../../../assets/scss/breakPoints.scss";

.projectsWrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.projectContent {
  height: 84vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 60px 0 110px;
  z-index: 1;
}

.projectInfo {
  margin: 0 60px 0 0;
  max-width: 840px;
}

.projectTitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #171718;
  margin: 0 0 30px;
}

.projectProblem {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #828282;

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.projectMedia {
  width: 640px;
  height: 360px;
  max-height: 360px;
  background: #F2F2F2;
  border: 10px solid #4F4F4F;
  box-sizing: border-box;
  border-radius: 10px;
  flex: 0 0 640px;
}

.projectsFooter {
  height: 16vh;
  width: 100%;
  border-top: 1px solid #828282;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 180px 0 0;
}

.sliderBtnWrapper {
  display: flex;
  transform: translateY(-8vh);
  position: absolute;
  bottom: 0;
  right: 180px;
  z-index: 2;
}

.projectsFooterLeftPart {
  display: flex;
  flex-flow:  row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.projectDescription {
  margin: 0 0 0 60px;

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #171718;
    margin: 0 0 15px;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    color: #828282;
  }
}

.projectsMobTitle,
.readMore {
  display: none;
}

@media screen and (max-width: 1400px) {
  .projectTitle {
    font-size: 30px;
  }

  .projectProblem {
    font-size: 20px;
  }
}

@media screen and (max-width: $breakpoint-max-width) {
  .projectContent {
    justify-content: center;
  }

  .projectMedia {
    flex: 0 1 640px;
  }
}

@media screen and (max-width: $breakpoint-tablet) and (max-height: 1400px) {
  .projectInfo {
    display: none;
  }

  .projectsFooter {
    padding: 0 60px 0 0;
  }

  .projectDescription {
    h3 {
      font-size: 22px;
      line-height: 26px;
      margin: 0 0 5px;
    }
  }

  .sliderBtnWrapper {
    bottom: 16vh;
    transform: translateY(2.5vh);
    right: 60px;

    button {
      max-width: 5.5vh;
      max-height: 5.5vh;
    }
  }
}

@media screen and (min-height: 1300px) and (max-width: $breakpoint-tablet) {
  .projectContent {
    justify-content: center;
    flex-flow: column nowrap;
  }

  .projectInfo {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .gradient-vertical,
  .gradient-horizontal {
    display: none;
  }

  .projectsWrapper {
    background-color: #333;
    background-image: linear-gradient( rgba(255,255,255,.1), transparent 1px), linear-gradient( 90deg, rgba(255,255,255,.1), transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
    height: auto;
    padding: 60px 15px;
  }

  .projectsMobTitle {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 30px;

    span {
      color: #EFE314;
      font-size: 36px;
    }
  }

  .projectInfo {
    display: block;
    margin: 0 0 20px;

    h3 {
      font-weight: bold;
      font-size: 20px;
      line-height: 130%;
      color: #FFF;
      margin: 0 0 10px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .projectContent {
    flex-flow: column nowrap;
    padding: 0;
    height: auto;
    margin: 0 0 20px;
  }

  .projectMedia {
    flex: 0 0 auto;
    width: 290px;
    height: 170px;
    border: 5px solid #171718;
    box-sizing: border-box;
  }

  .projectsFooter {
    flex-flow: column;
    height: auto;
    padding: 0;
    border: none;
  }

  .projectsFooterLeftPart {
    flex-flow: column-reverse;
  }

  .projectDescription {
    margin: 0 0 20px;
  
    h3 {
      font-size: 20px;
      line-height: 23px;
      color: #fff;
      margin: 0 0 10px;
    }
  
    p {
      font-size: 14px;
    }
  }

  .sliderBtnWrapper {
    transform: none;
    margin: 10px auto 0;
    position: static;
    justify-content: space-between;
    width: 100%;
    
    button {
      max-width: none;
      max-height: none;
    }
  }

  .readMore {
    display: block;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #EFE314;
    margin: 5px 0 0;
    cursor: pointer;
  }
}