@import '../../../../assets/scss/breakPoints.scss';

%btn-with-icon-style {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    max-width: 24px;
    max-height: 24px;
  }
}

.headerBtn {
  background: #EFE314;
  color: #171718;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  height: 140px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  text-align: left;

  img {
    display: block;
    margin-left: 30px;
  }
}

.menuSwitchBtn {
  display: none;
}

.btnClose {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background: url(/images/icons/close.svg);
  
  &:focus {
    outline: none
  }
}

.btnPlay {
  background: url(/images/icons/play-btn.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.yellowBtnWithIcon {
  max-width: 290px;
  width: 100%;
  padding: 0 30px;
  height: 50px;
  background: #EFE314;
  color: #171718;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  @extend %btn-with-icon-style;
}

.transparentBtnWithIcon {
  border: 1px solid #EFE314;
  background: transparent;
  font-weight: 500;
  color: #EFE314;
  max-width: 290px;
  width: 100%;
  padding: 0 30px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  @extend %btn-with-icon-style;
}

.projectBtn {
  height: 100%;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #EFE314;
  text-align: left;
  padding: 10px 60px 0;
  background: rgba(23,23,24,.8);

  &:after {
    content: '';
    display: block;
    background: url(/images/icons/big-arrow.svg) no-repeat center;
    width: 80px;
    height: 20px;
    margin: 8px 0 0;
  }
}

.sliderBtnWrapper {
  button {
    height: 17.5vh;
    width: 17.5vh;
    background: #FFFFFF;
    border: 2px solid #171718;
    display: flex;
    align-items: center;
    justify-content: center;

    &.sliderPrev {
      transform: rotate(180deg);
      margin: 0 8px 0 0;
    }
  }
}

@media screen and (max-width: $breakpoint-max-width) {
  .headerBtn {
    height: 90px;
    padding: 10px 40px;
    width: 180px;
    font-size: 14px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .headerBtn {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .mobileBtnsWrapper {
    .yellowBtnWithIcon {
      margin-bottom: 20px;
    }
  }

  .yellowBtnWithIcon,
  .transparentBtnWithIcon {
    max-width: none;
  }

  .headerLeftPart {
    .headerBtn {
      display: none;
    }
  }

  .menuSwitchBtn {
    transition: .5s;
    display: block;
    width: 30px;
    height: 30px;
    background: url(/images/icons/menu-icon-mob.svg) no-repeat center;

    &:focus {
      outline: none;
    }
  }

  .openedMenuWrapper {
    .menuSwitchBtn {
      background: url(/images/icons/menu-icon-mob-black.svg) no-repeat center;
    }
  }

  .projectBtn {
    width: 100%;
    padding: 23px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;

    &:after {
      background: url(/images/icons/arrow-yellow.svg) no-repeat center;
      width: 20px;
      margin: 0;
    }
  }

  .sliderBtnWrapper {
    button {
      height: 140px;
      width: 140px;
      background: #333;
      border: 1px solid #fff;
      max-width: none!important;
      max-height: none!important;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #FFF;
      padding: 0 40px;
      text-align: left;
  
      &.sliderPrev {
        transform: none;
        
        &:before {
          content: 'previous project';
        }
      }

      &.sliderNext {
        transform: none;
        
        &:before {
          content: 'next project';
        }
      }

      img {
        display: none;
      }
    }
  }
}