@import '../../../../../assets/scss/breakPoints.scss';

.navBarMenu {
  margin: 0 140px 0 0;
}

.menuList{
  display: flex;
  list-style-type: none;
  flex-flow: row nowrap;
  align-items: center;
}

@media (max-width: $breakpoint-max-width) {
  .navBarMenu {
    margin: 0 40px 0 0;
  }
}

@media (max-width: $breakpoint-mobile) {
  .headerLeftPart {
    .navBarMenu {
      display: none;
    }
  }

  .navBarMenu {
    margin: 90px auto 0;
  }

  .menuList {
    flex-flow: column nowrap;
  }
}