.fadeInUp {
  opacity: 0;
  transform: translateY(100%);
}

.zoomIn {
  transform: scale(0);
}

.fadeIn {
  opacity: 0;
}

.fadeInRight {
  opacity: 0;
  transform: translateX(100%);
  margin-right: 100px;
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-100%);
  margin-left: 100px;
}

.rollInLeft {
  opacity: 0;
  transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
}

.rollInRight {
  opacity: 0;
  transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
}

@keyframes fadeInRight {
  100% {
    opacity: 1;
    transform: translateX(0);
    margin-right: 0;
  }
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: rotateZ(0);
  }
}

@keyframes zoomIn {
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  100% {
    opacity: 1;
    transform: translateX(0);
    margin-left: 0;
  }
}

@keyframes rollInLeft {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollInRight {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
