.analysisVideoWrapper {
  margin: 230px auto 80px;
  padding: 0 15px;
}

.analysisVideoContainer {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
    border-radius: 30px;
    outline: none;
  }
}

@media only screen and (max-width: 668px) {
  .analysisVideoWrapper {
    margin: 40px auto;
  }

  .analysisVideoContainer {
    video {
      border-radius: 0;
    }
  }
}
