.keepersTimeline {
  max-width: 1920px;
  width: 100%;
  margin: 120px auto 0;
  padding: 0 20px;

  img {
    display: block;
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
  }
}

.keepersTimelineWrapper {
  max-width: 1720px;
  margin: 0 auto 60px;
}

.keepersTimelineContent {
  max-width: 660px;

  h1 {
    font-weight: 500;
    font-size: 65px;
    line-height: 84px;
    color: #1A1C1E;
    margin-bottom: 30px;
  }

  p {
    font-size: 25px;
    line-height: 40px;
    color: #1A1C1E;
  }
}

@media only screen and (max-width: 669px) {
  .keepersTimeline {
    margin-top: 80px;
    padding: 0;
  }

  .keepersTimelineWrapper {
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .keepersTimelineContent {
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
