@import "../../../../assets/scss/breakPoints.scss";

.inputRadio {
  display: flex;
  align-items: center;
  max-width: 395px;
  width: 100%;
  cursor: pointer;
  transition: .3s;
  position: relative;

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    &:disabled {
      + div {
        pointer-events: none;
        background: #fff;
        color: #4F4F4F;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(51,51,51,.6);
        }

        .radioCircle {
          background: #4F4F4F;
        }
      }
    }

    &:checked {
      + div {
        background: #fff;
        border-color: #fff;
        color: #171718;

        .radioCircle {
          background: #333;
          border-color: #333;

          &:before {
            background: #fff;
          }
        }
      }
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    height: 113px;
    width: 100%;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #bdbdbd;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Open Sans';

    &:hover {
      border-color:#EFE314;

      .radioCircle {
        border-color: #EFE314;
      }
    }
  }

  &.smallInput {
    max-width: 250px;
    font-weight: 600;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    div {
      padding: 9px 20px;
      height: auto;
    }

    .radioCircle {
      width: 30px;
      height: 30px;
      flex: 0 0 30px;
    }
  }

  &.errorInput {
    div {
      border-color: #EB5757;
    }
  }
}

.radioCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 50%;
  flex: 0 0 33px;
  margin: 0 20px 0 0;
  transition: .3s;

  &:before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    
    border-radius: 50%;
  }
}

.projectRadioRow {
  .inputRadio {
    flex: 0 1 auto;
    margin-bottom: 30px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: $breakpoint-1600) {
  .inputRadio {
    div {
      padding: 0 20px;
      font-size: 14px;
      line-height: 16px;
      height: 90px;
    }

    &.smallInput {
      max-width: 250px;
      font-weight: 600;
      line-height: 150%;
      max-height: 40px;
  
      &:not(:last-child) {
        margin-bottom: 15px;
      }
  
      div {
        padding: 7px 20px;
        height: auto;
        font-size: 13px;
      }
  
      .radioCircle {
        width: 25px;
        height: 25px;
        flex: 0 0 25px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-max-width) {
  .radioCircle {
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
    margin: 0 10px 0 0;
  }

  .inputRadio {
    div {
      padding: 0 10px;
      font-size: 12px;
      line-height: 14px;
      height: 90px;
    }
  }

  .projectRadioRow {
    .inputRadio {
      margin: 0 0 15px;

      &:not(:nth-child(3n + 3)) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .radioCircle {
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
  }
}

@media screen and (max-width: $breakpoint-tablet) and (max-height: 768px){
  .inputRadio {
    div {
      height: 70px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .projectRadioRow {
    .inputRadio {
      margin: 0 0 10px;
      max-width: none;

      div {
        height: 113px;
        font-size: 14px;
        line-height: 16px;
        padding: 0 20px;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
      }
    }
  }

  .radioCircle {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background: url(/images/icons/arrow.svg) no-repeat center;
    border: none;
    transform: rotate(-90deg);
    margin: 0 0 0 20px;
    opacity: 0;

    &:before {
      content: none;
    }
  }

  .inputRadio {
    input[type="radio"] {
      &:checked {
        + div {
          .radioCircle {
            background: url(/images/icons/arrow.svg) no-repeat center;
            border: none;
            opacity: 1;
          }
        }
      }
    }

    &.smallInput {
      max-height: 50px;
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      div {
        padding: 12px 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
      }

      .radioCircle {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        transform: rotate(90deg);
      }
    }
  }
}
